{% macro ssh_public_key_entry(key) %}
# {{ key }}
{{ lookup('file', 'ssh-keys/' + key + '.pub') }}
{% endmacro %}

{% for key in dropbear_initramfs__ssh_authorized_keys %}
{{ ssh_public_key_entry(key) }}
{% endfor %}
